<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>
        About
    </title>
    <link rel="stylesheet" href="/css/styles.css">
   
    </script>
</head>

<body>
    <div class="main-content">

    {{>header}}
    <p>This site was created by Sushant Ratnam. It was created using mapbox.com and darksky.net</p>   

    <img class="portrait" src="/img/android.jpg">
    </div>
    {{>footer}}

</body>

</html>